<div class="grid_12">

	<div id="tabs" class="grid_12 ui-tabs" style="height: 700px;">
		<ul>
			<li><a href="#current"><span>Current</span></a></li>
			<li><a href="#admin"><span>Admin</span></a></li>
		</ul>
		<div id="current" class="grid_12 ui-tabs-hide">
			<img id="beer_label" src="<%= site.labelImageUrl %>" class="grid_2"></img>
			<!-- Progress bar -->
			<div class="suffix_1 grid_2 prefix_1">
			    <div id="progress_bar" class="ui-progress-bar ui-container">
			      <div class="ui-progress" style="height: 75%; width: 100%;">
			        <span class="ui-label" style="display:none;">Processing <b class="value">79%</b></span>
			      </div>
			    </div>
			</div>
			<div id="readout" class="grid_5">
				Temp: <span id="temp_text"><%= site.currentTemp %></span>˚F<br />
				Flow Status: <span id="status_text">locked</span><br />
				Last Drinker: <span id="user_text"></span><br />
			</div>
		    <!-- /Progress bar -->
			<p id="description" class="grid_11">
				<strong><%= site.beer %> from <%= site.brewery %></strong>
				<br />
				<%= site.description %>
			</p>
			<p id="user" class="grid_11">
			</p>
			<div id="flow_chart" class="grid_5"></div>
			<div id="pour_day_chart" class="grid_5 suffix_1"></div>
		</div>
		<div id="admin" class="ui-tabs-hide">
			<p>a little nosey, aren't we?</p>
		</div>
	</div>
</div>